target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/releases/VaultDesk_0.1b/lib/VaultDesk_0.1b.png
/releases/0.2b/VaultDesk_0.2b/lib/app/.jpackage.xml
/releases/VaultDesk_0.1b/lib/app/.jpackage.xml
/VaultDesk_0.1a/lib/app/.jpackage.xml
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.logging/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.sql/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.base/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.logging/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.sql/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.base/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
/releases/VaultDesk_0.1b/lib/runtime/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.base/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.logging/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.sql/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/java.xml/ADDITIONAL_LICENSE_INFO
/VaultDesk_0.1a/lib/runtime/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/aes.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/aes.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/aes.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/asm.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/asm.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/asm.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.logging/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.prefs/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.scripting/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.sql/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.base/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.controls/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.fxml/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.graphics/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.logging/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.prefs/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.scripting/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.sql/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.base/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.controls/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.fxml/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.graphics/ASSEMBLY_EXCEPTION
/releases/VaultDesk_0.1b/lib/runtime/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.base/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.logging/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.prefs/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.scripting/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.sql/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/java.xml/ASSEMBLY_EXCEPTION
/VaultDesk_0.1a/lib/runtime/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/bcel.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/bcel.md
/VaultDesk_0.1a/lib/runtime/legal/java.xml/bcel.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/security/blocked.certs
/releases/VaultDesk_0.1b/lib/runtime/lib/security/blocked.certs
/VaultDesk_0.1a/lib/runtime/lib/security/blocked.certs
/boveda_carga_prueba.vlt
/.vaultdesk/vaults.bak/boveda_demo.vlt
/boveda_demo.vlt
/boveda_integridad_prueba.vlt
/boveda_test_password.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/c-libutl.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/c-libutl.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/c-libutl.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/security/cacerts
/releases/VaultDesk_0.1b/lib/runtime/lib/security/cacerts
/VaultDesk_0.1a/lib/runtime/lib/security/cacerts
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/classlist
/releases/VaultDesk_0.1b/lib/runtime/lib/classlist
/VaultDesk_0.1a/lib/runtime/lib/classlist
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/cldr.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/cldr.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/cldr.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/colorimaging.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/colorimaging.md
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/colorimaging.md
/.vaultdesk/vaults/compatibleconmac.vlt
/.vaultdesk/vaults.bak/conalertas.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/security/default.policy
/releases/VaultDesk_0.1b/lib/runtime/lib/security/default.policy
/VaultDesk_0.1a/lib/runtime/lib/security/default.policy
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/policy/limited/default_local.policy
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/policy/unlimited/default_local.policy
/releases/VaultDesk_0.1b/lib/runtime/conf/security/policy/limited/default_local.policy
/releases/VaultDesk_0.1b/lib/runtime/conf/security/policy/unlimited/default_local.policy
/VaultDesk_0.1a/lib/runtime/conf/security/policy/limited/default_local.policy
/VaultDesk_0.1a/lib/runtime/conf/security/policy/unlimited/default_local.policy
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/policy/limited/default_US_export.policy
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/policy/unlimited/default_US_export.policy
/releases/VaultDesk_0.1b/lib/runtime/conf/security/policy/limited/default_US_export.policy
/releases/VaultDesk_0.1b/lib/runtime/conf/security/policy/unlimited/default_US_export.policy
/VaultDesk_0.1a/lib/runtime/conf/security/policy/limited/default_US_export.policy
/VaultDesk_0.1a/lib/runtime/conf/security/policy/unlimited/default_US_export.policy
/.vaultdesk/vaults/diagramaFlujo.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/dom.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/dom.md
/VaultDesk_0.1a/lib/runtime/legal/java.xml/dom.md
/.vaultdesk/vaults/enesima.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/policy/limited/exempt_local.policy
/releases/VaultDesk_0.1b/lib/runtime/conf/security/policy/limited/exempt_local.policy
/VaultDesk_0.1a/lib/runtime/conf/security/policy/limited/exempt_local.policy
/hs_err_pid5626.log
/hs_err_pid5901.log
/hs_err_pid6490.log
/hs_err_pid9871.log
/hs_err_pid13567.log
/hs_err_pid17160.log
/hs_err_pid18441.log
/hs_err_pid112469.log
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/icu.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/icu.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/icu.md
/.vaultdesk/vaults/idiomas.vlt
/.vaultdesk/vaults.bak/integracion.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/java.policy
/releases/VaultDesk_0.1b/lib/runtime/conf/security/java.policy
/VaultDesk_0.1a/lib/runtime/conf/security/java.policy
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/java.security
/releases/VaultDesk_0.1b/lib/runtime/conf/security/java.security
/VaultDesk_0.1a/lib/runtime/conf/security/java.security
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/javafx.properties
/releases/VaultDesk_0.1b/lib/runtime/lib/javafx.properties
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/javafx-swt.jar
/releases/VaultDesk_0.1b/lib/runtime/lib/javafx-swt.jar
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/jaxp.properties
/releases/VaultDesk_0.1b/lib/runtime/conf/jaxp.properties
/VaultDesk_0.1a/lib/runtime/conf/jaxp.properties
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/jcup.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/jcup.md
/VaultDesk_0.1a/lib/runtime/legal/java.xml/jcup.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/jexec
/releases/VaultDesk_0.1b/lib/runtime/lib/jexec
/VaultDesk_0.1a/lib/runtime/lib/jexec
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.graphics/jpeg_fx.md
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.graphics/jpeg_fx.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/jrt-fs.jar
/releases/VaultDesk_0.1b/lib/runtime/lib/jrt-fs.jar
/VaultDesk_0.1a/lib/runtime/lib/jrt-fs.jar
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/jspawnhelper
/releases/VaultDesk_0.1b/lib/runtime/lib/jspawnhelper
/VaultDesk_0.1a/lib/runtime/lib/jspawnhelper
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/jvm.cfg
/releases/VaultDesk_0.1b/lib/runtime/lib/jvm.cfg
/VaultDesk_0.1a/lib/runtime/lib/jvm.cfg
/releases/0.2b/VaultDesk_0.2b/lib/libapplauncher.so
/releases/VaultDesk_0.1b/lib/libapplauncher.so
/VaultDesk_0.1a/lib/libapplauncher.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libawt.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libawt.so
/VaultDesk_0.1a/lib/runtime/lib/libawt.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libawt_headless.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libawt_headless.so
/VaultDesk_0.1a/lib/runtime/lib/libawt_headless.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libawt_xawt.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libawt_xawt.so
/VaultDesk_0.1a/lib/runtime/lib/libawt_xawt.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libdecora_sse.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libdecora_sse.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libfontmanager.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libfontmanager.so
/VaultDesk_0.1a/lib/runtime/lib/libfontmanager.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libglass.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libglass.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libglassgtk3.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libglassgtk3.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjava.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjava.so
/VaultDesk_0.1a/lib/runtime/lib/libjava.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjavafx_font.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjavafx_font.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjavafx_font_freetype.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjavafx_font_freetype.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjavafx_font_pango.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjavafx_font_pango.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjavafx_iio.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjavafx_iio.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjavajpeg.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjavajpeg.so
/VaultDesk_0.1a/lib/runtime/lib/libjavajpeg.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjawt.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjawt.so
/VaultDesk_0.1a/lib/runtime/lib/libjawt.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjimage.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjimage.so
/VaultDesk_0.1a/lib/runtime/lib/libjimage.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjli.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjli.so
/VaultDesk_0.1a/lib/runtime/lib/libjli.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/server/libjsig.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjsig.so
/releases/VaultDesk_0.1b/lib/runtime/lib/server/libjsig.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjsig.so
/VaultDesk_0.1a/lib/runtime/lib/server/libjsig.so
/VaultDesk_0.1a/lib/runtime/lib/libjsig.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libjsound.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libjsound.so
/VaultDesk_0.1a/lib/runtime/lib/libjsound.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/server/libjvm.so
/releases/VaultDesk_0.1b/lib/runtime/lib/server/libjvm.so
/VaultDesk_0.1a/lib/runtime/lib/server/libjvm.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/liblcms.so
/releases/VaultDesk_0.1b/lib/runtime/lib/liblcms.so
/VaultDesk_0.1a/lib/runtime/lib/liblcms.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libmlib_image.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libmlib_image.so
/VaultDesk_0.1a/lib/runtime/lib/libmlib_image.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libnet.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libnet.so
/VaultDesk_0.1a/lib/runtime/lib/libnet.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libnio.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libnio.so
/VaultDesk_0.1a/lib/runtime/lib/libnio.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libprefs.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libprefs.so
/VaultDesk_0.1a/lib/runtime/lib/libprefs.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libprism_common.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libprism_common.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libprism_es2.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libprism_es2.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libprism_sw.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libprism_sw.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libsplashscreen.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libsplashscreen.so
/VaultDesk_0.1a/lib/runtime/lib/libsplashscreen.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libsyslookup.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libsyslookup.so
/VaultDesk_0.1a/lib/runtime/lib/libsyslookup.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libverify.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libverify.so
/VaultDesk_0.1a/lib/runtime/lib/libverify.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/libzip.so
/releases/VaultDesk_0.1b/lib/runtime/lib/libzip.so
/VaultDesk_0.1a/lib/runtime/lib/libzip.so
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.datatransfer/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.logging/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.prefs/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.scripting/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.sql/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.transaction.xa/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.base/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.controls/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.fxml/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.graphics/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/jdk.unsupported/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.datatransfer/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.logging/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.prefs/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.scripting/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.sql/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.transaction.xa/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.base/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.controls/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.fxml/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.graphics/LICENSE
/releases/VaultDesk_0.1b/lib/runtime/legal/jdk.unsupported/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.base/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.datatransfer/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.logging/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.prefs/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.scripting/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.sql/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.transaction.xa/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/java.xml/LICENSE
/VaultDesk_0.1a/lib/runtime/legal/jdk.unsupported/LICENSE
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/logging.properties
/releases/VaultDesk_0.1b/lib/runtime/conf/logging.properties
/VaultDesk_0.1a/lib/runtime/conf/logging.properties
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/mesa3d.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/javafx.graphics/mesa3d.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/mesa3d.md
/releases/VaultDesk_0.1b/lib/runtime/legal/javafx.graphics/mesa3d.md
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/mesa3d.md
/src/main/resources/i18n/messages_cat.properties
/.vaultdesk/vaults.bak/mierda.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/modules
/releases/VaultDesk_0.1b/lib/runtime/lib/modules
/VaultDesk_0.1a/lib/runtime/lib/modules
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/net.properties
/releases/VaultDesk_0.1b/lib/runtime/conf/net.properties
/VaultDesk_0.1a/lib/runtime/conf/net.properties
/.vaultdesk/vaults.bak/nuevaconrefactor.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/pipewire.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/pipewire.md
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/pipewire.md
/.vaultdesk/vaults/privado.vlt
/.vaultdesk/vaults/privativo.vlt
/.vaultdesk/vaults/prueba.vlt
/.vaultdesk/vaults.bak/prueba.vlt
/.vaultdesk/vaults.bak/prueba01.vlt
/.vaultdesk/vaults.bak/prueba02.vlt
/.vaultdesk/vaults.bak/prueba03.vlt
/.vaultdesk/vaults.bak/prueba04.vlt
/.vaultdesk/vaults.bak/pruebafuncional.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/psfont.properties.ja
/releases/VaultDesk_0.1b/lib/runtime/lib/psfont.properties.ja
/VaultDesk_0.1a/lib/runtime/lib/psfont.properties.ja
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/psfontj2d.properties
/releases/VaultDesk_0.1b/lib/runtime/lib/psfontj2d.properties
/VaultDesk_0.1a/lib/runtime/lib/psfontj2d.properties
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/public_suffix.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/public_suffix.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/public_suffix.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/security/public_suffix_list.dat
/releases/VaultDesk_0.1b/lib/runtime/lib/security/public_suffix_list.dat
/VaultDesk_0.1a/lib/runtime/lib/security/public_suffix_list.dat
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/security/policy/README.txt
/releases/VaultDesk_0.1b/lib/runtime/conf/security/policy/README.txt
/VaultDesk_0.1a/lib/runtime/conf/security/policy/README.txt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/release
/releases/VaultDesk_0.1b/lib/runtime/release
/VaultDesk_0.1a/lib/runtime/release
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/sdp/sdp.conf.template
/releases/VaultDesk_0.1b/lib/runtime/conf/sdp/sdp.conf.template
/VaultDesk_0.1a/lib/runtime/conf/sdp/sdp.conf.template
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/siphash.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/siphash.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/siphash.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/conf/sound.properties
/releases/VaultDesk_0.1b/lib/runtime/conf/sound.properties
/VaultDesk_0.1a/lib/runtime/conf/sound.properties
/releases/0.2b/VaultDesk_0.2b/lib/runtime/lib/tzdb.dat
/releases/VaultDesk_0.1b/lib/runtime/lib/tzdb.dat
/VaultDesk_0.1a/lib/runtime/lib/tzdb.dat
/.vaultdesk/vaults.bak/ultimapruebainsercion.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.base/unicode.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.base/unicode.md
/VaultDesk_0.1a/lib/runtime/legal/java.base/unicode.md
/out/artifacts/vaultdesk_jar/vaultdesk.jar
/releases/0.2b/VaultDesk_0.2b/lib/app/vaultdesk.jar
/releases/VaultDesk_0.1b/lib/app/vaultdesk.jar
/VaultDesk_0.1a/lib/app/vaultdesk.jar
/releases/vaultdesk-0.1b_0.1b_amd64.deb
/VaultDesk_0.1a/bin/VaultDesk_0.1a
/VaultDesk_0.1a/lib/app/VaultDesk_0.1a.cfg
/VaultDesk_0.1a/lib/VaultDesk_0.1a.png
/releases/VaultDesk_0.1b/bin/VaultDesk_0.1b
/releases/VaultDesk_0.1b/lib/app/VaultDesk_0.1b.cfg
/releases/0.2b/VaultDesk_0.2b/bin/VaultDesk_0.2b
/releases/0.2b/VaultDesk_0.2b/lib/app/VaultDesk_0.2b.cfg
/releases/0.2b/VaultDesk_0.2b/lib/VaultDesk_0.2b.png
/.idea/artifacts/vaultdesk_jar.xml
/releases/VaultDesk_Linux_0.1b.tar.gz
/.vaultdesk/vaults/version04.vlt
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/xalan.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/xalan.md
/VaultDesk_0.1a/lib/runtime/legal/java.xml/xalan.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.xml/xerces.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.xml/xerces.md
/VaultDesk_0.1a/lib/runtime/legal/java.xml/xerces.md
/releases/0.2b/VaultDesk_0.2b/lib/runtime/legal/java.desktop/xwd.md
/releases/VaultDesk_0.1b/lib/runtime/legal/java.desktop/xwd.md
/VaultDesk_0.1a/lib/runtime/legal/java.desktop/xwd.md
